{
  "dev": true, // false on client deploy
  "database_secret": "<such-secret>",
  "database_url": "https://agadir-et-moi.firebaseio.com",
  "posts_per_page": 10,
  "firebase_bucket": "<such-project>.appspot.com",
  "firebase_storage_download_token": "<such-token>",
  "realm_db_path": "<such-db>.realm",
}